*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
/MelonREPL/[Dd]ebug/
/MelonREPL/[Dd]ebugPublic/
/MelonREPL/[Rr]elease/
/MelonREPL/[Rr]eleases/
/MelonREPL/x64/
/MelonREPL/x86/
/MelonREPL/build/
/MelonREPL/bld/
/MelonREPL/[Bb]in/
/MelonREPL/[Oo]bj/
/MelonREPL/msbuild.log
/MelonREPL/msbuild.err
/MelonREPL/msbuild.wrn

# Visual Studio 2015
.vs/
